<p class="text-danger">app/views/properties/_form.html.erb</p>
<%= form_with(model: property) do |form| %>
  <% if property.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.number_field :price, class: "form-control" %>
  </div>

  <div>
    <%= form.label :rooms, style: "display: block" %>
    <%= form.number_field :rooms, class: "form-control" %>
  </div>

  <div>
    <%= form.label :bathrooms, style: "display: block" %>
    <%= form.number_field :bathrooms, class: "form-control" %>
  </div>

  <div>
    <%= form.label :parking_spaces, style: "display: block" %>
    <%= form.number_field :parking_spaces, class: "form-control" %>
  </div>

  <div>
    <%= form.label :details, style: "display: block" %>
    <%= form.text_area :details, class: "form-control" %>
  </div>

  <div>
    <%= form.label :photo, style: "display: block" %>
    <%= form.file_field :photo, class: "form-control" %>
    <%= form.hidden_field :photo_cache %>
    <% if @property.photo.present? %>
      <%= image_tag @property.photo.thumb.url %>
    <% end %>

  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
