<div id="<%= dom_id property %>">

  <p>
    <strong>Name:</strong><br>
    <%= property.name %>
  </p>

  <p>
    <strong>Address:</strong><br>
    <%= property.address %> 
  </p>

  <p>
    <strong>Price:</strong><br>
    <%= property.price %> 
  </p>

  <p>
    <strong>Rooms:</strong><br>
    <%= property.rooms %> 
  </p>

  <p>
    <strong>Bathrooms:</strong><br>
    <%= property.bathrooms %> 
  </p>

  <p>
    <strong>Photo:</strong>
    <%= property.photo %>
  </p>

</div>


