<div id="<%= dom_id property %>">

  <div class="row" id="parent-row">

      <div class="row" id="price-row">
        <div class="col-6">
          <%= property.address %>
          <p class="h3"><%= property.name %></p>        
          <p class="h3"><%= property.price > 0 ? number_to_currency(property.price, precision: 0) : "For Sale" %></p>
        </div>

        <div class="col-6 text-center bg-light p-3">
          <div class="row" id="specifications">
            <div class="col-4">
              <p class="m-0"><strong>Rooms</p></strong>
              <span class="lead"><%= property.rooms %></span>
            </div>
            <div class="col-4">
              <p class="m-0"><strong>Bathrooms</p></strong>
              <span class="lead"><%= property.bathrooms %></span>
            </div>
            <div class="col-4">
              <p class="m-0"><strong>Parking Spaces</p></strong>
              <span class="lead"><%= property.parking_spaces %></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row border-top border-bottom mt-5 pb-4 pt-4 mb-4 text-success" id="installments-row">
        <div class="col-6">
          <p class="h5">Monthly Installment Plan<%= number_to_currency((property.price) / 360) %></p>
          # question:couldn't understand brackets
        </div>

        <div class="col-6 text-right">
          <strong><%= link_to "Can I afford this?", "", class: "text-success" %></strong>
        </div>
      </div>

      <div class="row" id="description">
        <h3>Description</h3>
        <%= property.details %>
      </div>
  </div>
</div>

  







