<p class="text-danger">views/properties/show.html.erb</p>
<p style="color: green"><%= notice %></p>
<div class="container mt-5">
  <div class="row">
    <%= render @property %>
    <%# question: why is here "@property"? %>

    <div>
      <%= link_to "Edit this property", edit_property_path(@property), class: "btn btn-outline-primary" %> |
      <%= link_to "Back to properties", properties_path, class: "btn btn-outline-primary" %>
      <%= button_to "Destroy this property", @property, method: :delete, class: "btn btn-primary mt-3" %>
    </div>
  </div>
</div>

